@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Barlow Semi Condensed", sans-serif;
    overflow: hidden;
  }

.wrapper {
    max-width: 1366px;
    height: 100vh;
    background-image: radial-gradient(
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  overflow: hidden;
}

.scoreboard {
  width: 700px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;  
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
  align-items: center;
}

.title {
  margin: 30px;
}

.title .bonus {
  position: absolute;
  width: 130px;
  display: none;
  align-items: center;
  justify-content: center;
  top: 7%
}

.score {
  width: 150px;
  height: 114px;
  border-radius: 8px;
  margin-right: 24px;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score p {
  color: #2A45C2;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.5px;
}

.score h1 {
  color: #565468;
  text-align: center; 
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; 
}

.rock, .paper, .scissors {
  width: 200px;
  height: 203px;
  cursor: pointer;
  z-index: 9;
}

.paper{
  margin-left: -30px;
}

.scissors{
  margin-left: 100px;
}

img{
  width: 200px;
  cursor: pointer;
}

.gameboard {
  display: flex;
  width: 470px;
  height: 430px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  background-image: url('/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.scissor {
  margin-left: 60px
}

.oval-2 img {
  display: none;
  position: absolute;
  margin-top: -1.1%;
  margin-left: -215px;
  width: 230px;
  cursor: auto;
}

.scissors:hover + .oval-2 img{
  display: block;
}


.papers {
  margin-left: -8px;
  top: 50%;
}

.oval-1 img {
  display: none;
  position: absolute;
  top: 31.8%;
  left: 29.5%;
  width: 230px;
  cursor: auto;
}

.paper:hover + .oval-1 img{
  display: block;
}


.rock {
  margin-left: 10px
}

.oval img {
  display: none;
  position: absolute;
  margin-top: -1.1%;
  margin-left: -217px;
  width: 230px;
  cursor: auto;
}

.rock:hover + .oval img{
  display: block;
}

.rocks, .papers, .scissor, .lizard, .spock {
  z-index: 9;
}

.advance-gameboard {
  display: none;
  width: 470px;
  height: 430px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-image: url('/images/bg-pentagon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.advance-gameboard img{
  width: 120px;
  cursor: pointer;
}

.advance-gameboard .rocks img{
  position: absolute;
  bottom: 4%;
  left: 53%;
}

.advance-gameboard .lizard{
  position: absolute;
  bottom: 3.5%;
  left: 39%;
}

.advance-gameboard .papers{
  position: absolute;
  bottom: 19%;
  left: 56%;
}

.advance-gameboard .scissor{
  position: absolute;
  top: 31%;
  left: 41%;
}

.advance-gameboard .spock{
  position: absolute;
  top: 50%;
  left: 35%;
}


.scissor {
  margin-left: 60px
}

.advance-gameboard .oval-1 img {
  display: none;
  position: absolute;
  margin-top: -1.5%;
  margin-left: 14.8%;
  width: 150px;
  cursor: auto;
}

.scissor:hover + .oval-1 img{
  display: block;
}


.papers {
  margin-left: -8px;
  top: 50%;
}

.advance-gameboard .oval-2 img {
  display: none;
  position: absolute;
  margin-top: 8.1%;
  margin-left: 4.5%;
  width: 150px;
  cursor: auto;
}

.papers:hover + .oval-2 img{
  display: block;
}

.advance-gameboard .oval-3 img {
  display: none;
  position: absolute;
  margin-top: 21.0%;
  margin-left: 1.9%;
  width: 150px;
  cursor: auto;
}

.rocks:hover + .oval-3 img{
  display: block;
}

.advance-gameboard .oval-4 img {
  display: none;
  position: absolute;
  margin-top: 21.0%;
  margin-left: -12%;
  width: 150px;
  cursor: auto;
}

.lizard:hover + .oval-4 img{
  display: block;
}

.advance-gameboard .oval-5 img {
  display: none;
  position: absolute;
  margin-top: 8.1%;
  margin-left: -16.1%;
  width: 150px;
  cursor: auto;
}

.spock:hover + .oval-5 img{
  display: block;
}

.rules-popup {
  position: absolute;
  display: none;
  width: 400px;
  height: 415px;
  top: 160px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.rules-popup img{
  width: 305px;
  margin-top: 80px;
}

.header{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 55px;
  margin-top: -320px;
}

.header h1{
  color: #3B4262;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px; 
}

.header img{
  display: flex;
  width: 19.092px;
  height: 19.092px;
  fill: #3B4262;
  margin-top: -1px;
  cursor: pointer;
}

.advance {
  display: flex;
  position: absolute;
  top: 90%;
  left: 2%;
  background-color: transparent;
  width: 228px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.rules {
  display: flex;
  position: absolute;
  top: 90%;
  left: 90%;
  background-color: transparent;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.advance-mod {
  display: none;
  position: absolute;
  top: 90%;
  left: 90%;
  background-color: transparent;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.rules:hover {
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  color: #3B4262;
}

.advance-mod:hover {
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  color: #3B4262;
}

.advance-rules{
  position: absolute;
  display: none;
  width: 400px;
  height: 461px;
  top: 160px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  justify-content: center;
  align-items: center;
  z-index: 10
}

.advance-rules img{
  width: 336px;
  margin-top: 60px;
}

.advance-rules .head {
  margin-top: -370px;
}

.advance-rules .head img{
  display: flex;
  width: 19.092px;
  height: 19.092px;
  fill: #3B4262;
  margin-top: -1px;
  cursor: pointer;
}

.advance:hover {
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  color: #3B4262;
}

.heading{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 55px;
  margin-top: -380px;
}

.heading h1{
  color: #3B4262;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px; 
}

.heading img{
  display: flex;
  width: 19.092px;
  height: 19.092px;
  fill: #3B4262;
  margin-top: -1px;
  cursor: pointer;
}


.contest {
  width: 950px;
  display: none;
  margin-top: 50px;
}

.contest img{
  width: 275px;
  height: 275px;
  cursor: default;
}

/*target the divs that are directly the results*/
.contest > div { 
  flex: 1
}

.contest h1 {
  color: #FFF;
  text-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
}

.contest .handImageContainer {
  display:flex;
  justify-content: center;
}

.referee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.referee p {
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.newGame {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  position: absolute;
  left: 42%;
  top: 70%;
  width: 220px;
  height: 48px;
  border-radius: 8px;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  color: #3B4262;
  font-family: Barlow Semi Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.5px;
  
}

.newGame:hover {
  color: #DB2E4D;
  transform: translate3d(8px, -2px, 0px);
}

.attribution { 
  display: none;
  font-size: 14px; 
  text-align: center; 
  color: white
}

a {
  margin-left: 5px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.win-style {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 68%;
  left: 73% 
}

.win-style-1 {
  display: none;
  position: absolute;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.02;
}

.win-style-2 {
  display: none;
  position: absolute;
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

.win-style-3 {
  display: none;
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

.winstyle {
  display: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 68%;
  left: 27% 
}

.winstyle-1 {
  display: none;
  position: absolute;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.02;
}

.winstyle-2 {
  display: none;
  position: absolute;
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

.winstyle-3 {
  display: none;
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

@media only screen and (max-width: 375px) {
.wrapper {
    max-width: 375px;
}

.scoreboard {
  width: 311px;
  height: 96px;
  margin-top: 15px;  
}

.score {
  width: 80px;
  height: 72px;
}

.score p {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-top: 20px;
}

.score h1 {
  color: #565468;
  font-size: 40px;
  font-weight: 700;
  margin-top: -10px;
}

.title img {
  width: 83px;
  height: 48px;
}

.title .bonus {
  width: 48.313px;
  height: 48px;
  top: 5.7%
}

.rock, .paper, .scissors {
  width: 130px;
  height: 133px;
}

.paper{
  margin-left: -20px;
}

.scissors{
  margin-left: 70px;
}

img{
  width: 130px;
  cursor: pointer;
}

.oval-2 img {
  margin-top: -3.6%;
  margin-left: -142px;
  width: 155px;
}

.oval-1 img {
  top: 22.1%;
  left: 2.7%;
  width: 155px;
}

.rock {
  margin-left: 0px
}

.oval img {
  margin-top: -3.1%;
  margin-left: -144px;
  width: 155px;
}

.gameboard {
  width: 390px;
  height: 330px;
  margin-top: 80px;
  margin-left: 20px;
  background-size: 200px;
}

.rules {
  top: 90%;
  left: 35%;
}

.advance-mod {
  top: 90%;
  left: 35%;
}

.rules-popup {
  width: 375px;
  height: 100vh;
  top: 0px;
}

.header h1{
  position: absolute;
  top: -20%;
  left: 33%
}

.header img{
  position: absolute;
  top: 420px;
  left: 50%
}

.advance {
  display: flex;
  top: 85%;
  left: 35%;
  width: 128px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.contest {
  width: 350px;
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

.contest img{
  width: 126px;
  height: 126px;
}

.contest h1 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 213.333% */
  letter-spacing: 1.875px;
}

.referee {
  position: absolute;
  left:10%;
  top: 60%;
}

.newGame {
  margin-left: -70px;
  margin-top: 20px;
}

.houseHand {
  margin-top: -5px;
}

.userhand h1 {
  margin-left: 27px;
}

.contest h1 {
  position: absolute;
  bottom: 37%;
  letter-spacing: 0.875px;
}

.contest img{
  margin-top: 120px;
}

.advance-gameboard {
  display: flex;
  width: 390px;
  height: 330px;
  margin-top: 50px;
  margin-left: 20px;
  background-size: 200px;
}

.advance-gameboard img{
  width: 96px;
  height: 96px;
}

.advance-gameboard .scissor{
  top: 28%;
  left: 26%;
}

.advance-gameboard .papers{
  top: 40%;
  left: 70%;
}

.advance-gameboard .spock{
  top: 40%;
  left: 10%;
}

.advance-gameboard .rocks img{
  bottom: 30%;
  left: 55%;
}

.advance-gameboard .lizard{
  bottom: 29%;
  left: 23%;
}

.advance-rules {
  width: 375px;
  height: 100vh;
  top: 0px;
}

.heading h1{
  position: absolute;
  top: -20%;
  left: 33%
}

.heading img{
 position: absolute;
 top: 450px;
 left: 50%
}

.win-style {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 38.3%;
  left: 73% 
}

.win-style-1 {
  display: none;
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.02;
}

.win-style-2 {
  display: none;
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

.win-style-3 {
  display: none;
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

.winstyle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 39%;
  left: 27% 
}

.winstyle-1 {
  display: none;
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.02;
}

.winstyle-2 {
  display: none;
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

.winstyle-3 {
  display: none;
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 0.03;
}

.referee p {
  color: #FFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  margin-left: 33px;
}

}